.grid-container {
  margin: 1rem auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 1px solid gainsboro;
  border-radius: 8px;
  padding: 1rem;
  background-color: lightgrey;
  gap: 10px;
}

.box {
  display: flex;
  align-items: center;
  border: 1px solid gainsboro;
  background-color: white;
  border-radius: 8px;
}

.top-box {
  height: 5rem;
  justify-content: center;
}

.bottom-box {
  height: 75vh;
}

.home-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: blue;
}

.data-box {
  flex-direction: column;
}

.nav-box {
  background-color: lightgray;
  border: lightgray;
}
